<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"
    />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100">
        <div
          class="col-md-6 d-flex justify-content-between align-items-center p-3"
        >
          <div class="panel">
            <h3>Times Tables Cardioid</h3>
            <a href="https://en.wikipedia.org/wiki/Cardioid">Learn more...</a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien
              faucibus et molestie ac feugiat sed. Porttitor leo a diam
              sollicitudin. Suscipit tellus mauris a diam maecenas sed enim ut.
              Ultrices mi tempus imperdiet nulla malesuada pellentesque elit.
            </p>
            <div class="row">
              <div class="col-4">
                <label for="value1">Factor</label>
                <input
                  class="custom-range my-1"
                  id="value1"
                  type="range"
                  min="0.1"
                  max="50"
                  step="0.1"
                  value="0.7"
                />
              </div>
              <div class="col-2 d-flex align-items-center">
                <input
                  id="input-value1"
                  class="form-control form-control-sm"
                  type="number"
                  step="0.1"
                />
              </div>
              <div class="col-4">
                <label for="value2">Points</label>
                <input
                  class="custom-range my-1"
                  id="value2"
                  type="range"
                  min="0"
                  max="200"
                  step="1"
                  value="100"
                />
              </div>
              <div class="col-2 d-flex align-items-center">
                <input
                  id="input-value2"
                  class="form-control form-control-sm"
                  type="number"
                />
              </div>
            </div>
            <div class="row">
              <div
                class="col-6 d-flex justify-content-around align-items-center"
              >
                <span>background</span>
                <div class="bg-color-picker"></div>
              </div>
              <div
                class="col-6 d-flex justify-content-around align-items-center"
              >
                <span>main</span>
                <div class="main-color-picker"></div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="myCanvas"
          class="col-md-6 d-flex justify-content-around align-items-center"
        ></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
    <script src="../p5.min.js"></script>
    <script src="../scripts/color-pickers.js"></script>
    <script src="../scripts/sliders-values.js"></script>
    <script src="sketch.js"></script>
  </body>
</html>
