@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family-base: 'Raleway', sans-serif;

$custom-range-thumb-bg: black;
$custom-range-track-bg: black;
$custom-range-thumb-width: 0.5rem;
$custom-range-thumb-height: 0.5rem;
$custom-range-track-height: 0.11rem;

$body-bg: #fafafa;

@import '../node_modules/bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}
canvas {
  outline: black 5px solid;
  border: white 10px solid;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.pickr {
  border: black 2px solid;
  border-radius: 5px;
}

.form-control-sm {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  // margin: 25px;
  // border: white 3px solid;
  // outline: rgba($color: #000000, $alpha: 0.8) 5px solid;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}
